In [150]:
# import dependencies
import numpy as np
import pandas as pd
import statsapi
import streamlit as st
import json
import functions as fc

In [2]:
# define team abbreviations for lookup reference
teams_abb = ['LAD', 'ANA', 'SDN', 'SEA', 'SFN', 'TBA', 
             'DET', 'KCA', 'CLE', 'MIL', 'NYY', 'HOU', 
             'ARIZONA', 'STL', 'BAL', 'MIA', 'MIN', 'PIT', 
             'ATL', 'CIN', 'TEX', 'TOR', 'NYM', 'PHI',
             'BOS', 'OAK', 'CHC', 'COL', 'CHW', 'WSN']

# define dictionary which maps the abbreviation to the team name\
name_to_abb = {'Los Angeles Dodgers': 'LAD', 'Los Angeles Angels': 'LAA', 'San Diego Padres': 'SDP', 'Seattle Mariners': 'SEA', 'Tampa Bay Rays': 'TBR',
               'Detroit Tigers': 'DET', 'Kansas City Royals': 'KCR', 'Cleveland Guardians': 'CLE', 'Milwaukee Brewers': 'MIL', 'New York Yankees': 'NYY', 'Houston Astros': 'HOU',
               'Arizona Diamondbacks': 'ARIZONA', 'St Louis Cardinals': 'STL', 'Baltimore Orioles': 'BAL', 'Miami Marlins': 'MIA', 'Minesotta Twins': 'MIN', 'Pittsburgh Pirates': 'PIT',
               'Atlanta Braves': 'ATL', 'Cincinnati Reds': 'CIN', 'Texas Rangers': 'TEX', 'Toronto Blue Jays': 'TOR', 'New York Mets': 'NYM', 'Philadelphia Phillies': 'PHI',
               'Boston Red Sox': 'BOS', 'Oakland Athletics': 'OAK', 'Chicago Cubs': 'CHC', 'Colorado Rockies': 'COL', 'Chicago White Sox': 'CHW', 'Washington Nationals': 'WSN'}

In [64]:
statsapi.lookup_team('Los Angeles Dodgers')

[{'id': 119,
  'name': 'Los Angeles Dodgers',
  'teamCode': 'lan',
  'fileCode': 'la',
  'teamName': 'Dodgers',
  'locationName': 'Los Angeles',
  'shortName': 'LA Dodgers'}]

In [65]:
team_selection = 'Los Angeles Dodgers'
team = statsapi.lookup_team(team_selection)[0]
roster = statsapi.roster(team['id'])

In [5]:
roster_df = pd.DataFrame(roster.split('\n')).rename(columns = {0: 'Number'})

In [6]:
roster_df['Number'] = roster_df['Number'].str.replace(' +', ' ', regex = True).str.replace(' ', '-', n = 2)
roster_df[['Number', 'Position', 'Name']] = roster_df['Number'].str.split('-', expand = True, n = 2)

In [7]:
roster_df.head()

  Number Position                 Name
0    #50        P       Adrian Morejon
1    #37        P           Alek Jacob
2    #29        C       Brett Sullivan
3     #5       3B         Eguy Rosario
4    #62        P  Enyel De Los Santos

In [8]:
statsapi.lookup_player('Adrian Morejon')[0]['id']

670970

In [9]:
statsapi.player_stat_data(670970)

{'id': 670970,
 'first_name': 'Adrian',
 'last_name': 'Morejon',
 'active': True,
 'current_team': 'San Diego Padres',
 'position': 'P',
 'nickname': 'More',
 'last_played': None,
 'mlb_debut': '2019-07-21',
 'bat_side': 'Left',
 'pitch_hand': 'Left',
 'stats': []}

In [72]:
params = {'leagueId':'103,104', 'season':2023}
standings = statsapi.get('standings', params)

In [94]:
team_standings = standings['records'][0]['teamRecords']

In [144]:
with open('Data/20212023.json', 'r') as test:
    test_data = json.load(test)

In [157]:
b = list(filter(lambda team: team['team']['name'] == 'Tampa Bay Rays', test_data))

In [169]:
test_data[0]

{'team': {'id': 139, 'name': 'Tampa Bay Rays', 'link': '/api/v1/teams/139'},
 'season': '2021',
 'streak': {'streakType': 'losses', 'streakNumber': 1, 'streakCode': 'L1'},
 'clinchIndicator': 'z',
 'divisionRank': '1',
 'leagueRank': '1',
 'sportRank': '3',
 'gamesPlayed': 162,
 'gamesBack': '-',
 'wildCardGamesBack': '-',
 'leagueGamesBack': '-',
 'springLeagueGamesBack': '-',
 'sportGamesBack': '7.0',
 'divisionGamesBack': '-',
 'conferenceGamesBack': '-',
 'leagueRecord': {'wins': 100, 'losses': 62, 'ties': 0, 'pct': '.617'},
 'lastUpdated': '2022-11-15T22:11:44Z',
 'records': {'splitRecords': [{'wins': 52,
    'losses': 29,
    'type': 'home',
    'pct': '.642'},
   {'wins': 48, 'losses': 33, 'type': 'away', 'pct': '.593'},
   {'wins': 38, 'losses': 27, 'type': 'left', 'pct': '.585'},
   {'wins': 18, 'losses': 15, 'type': 'leftHome', 'pct': '.545'},
   {'wins': 20, 'losses': 12, 'type': 'leftAway', 'pct': '.625'},
   {'wins': 34, 'losses': 14, 'type': 'rightHome', 'pct': '.708'},
   {'wins': 28, 'losses': 21, 'type': 'rightAway', 'pct': '.571'},
   {'wins': 62, 'losses': 35, 'type': 'right', 'pct': '.639'},
   {'wins': 7, 'losses': 3, 'type': 'lastTen', 'pct': '.700'},
   {'wins': 7, 'losses': 12, 'type': 'extraInning', 'pct': '.368'},
   {'wins': 20, 'losses': 25, 'type': 'oneRun', 'pct': '.444'},
   {'wins': 48, 'losses': 42, 'type': 'winners', 'pct': '.533'},
   {'wins': 41, 'losses': 20, 'type': 'day', 'pct': '.672'},
   {'wins': 59, 'losses': 42, 'type': 'night', 'pct': '.584'},
   {'wins': 43, 'losses': 29, 'type': 'grass', 'pct': '.597'},
   {'wins': 57, 'losses': 33, 'type': 'turf', 'pct': '.633'}],
  'divisionRecords': [{'wins': 15,
    'losses': 19,
    'pct': '.441',
    'division': {'id': 200,
     'name': 'American League West',
     'link': '/api/v1/divisions/200'}},
   {'wins': 51,
    'losses': 25,
    'pct': '.671',
    'division': {'id': 201,
     'name': 'American League East',
     'link': '/api/v1/divisions/201'}},
   {'wins': 19,
    'losses': 13,
    'pct': '.594',
    'division': {'id': 202,
     'name': 'American League Central',
     'link': '/api/v1/divisions/202'}}],
  'overallRecords': [{'wins': 52, 'losses': 29, 'type': 'home', 'pct': '.642'},
   {'wins': 48, 'losses': 33, 'type': 'away', 'pct': '.593'}],
  'leagueRecords': [{'wins': 85,
    'losses': 57,
    'pct': '.599',
    'league': {'id': 103,
     'name': 'American League',
     'link': '/api/v1/league/103'}},
   {'wins': 15,
    'losses': 5,
    'pct': '.750',
    'league': {'id': 104,
     'name': 'National League',
     'link': '/api/v1/league/104'}}],
  'expectedRecords': [{'wins': 101,
    'losses': 61,
    'type': 'xWinLoss',
    'pct': '.623'},
   {'wins': 101, 'losses': 61, 'type': 'xWinLossSeason', 'pct': '.623'}]},
 'runsAllowed': 651,
 'runsScored': 857,
 'divisionChamp': True,
 'divisionLeader': True,
 'hasWildcard': True,
 'clinched': True,
 'eliminationNumber': '-',
 'eliminationNumberSport': 'E',
 'eliminationNumberLeague': '-',
 'eliminationNumberDivision': '-',
 'eliminationNumberConference': '100',
 'wildCardEliminationNumber': '-',
 'magicNumber': '-',
 'wins': 100,
 'losses': 62,
 'runDifferential': 206,
 'winningPercentage': '.617'}

In [168]:
[x['leagueRecord']['pct'] for x in b]

['.617', '.531', '.611']

In [155]:
a = next(item for item in test_data if item['team']['name'] == "Tampa Bay Rays")

In [151]:
test_data[0]['team']['id']

139

In [173]:
a = functions.get_team_pct(139)

In [181]:
testing = [{'year': x['season'], 'pct': x['leagueRecord']['pct']} for x in a]
pd.DataFrame(testing)

   year   pct
0  2021  .617
1  2022  .531
2  2023  .611

In [145]:
test = statsapi.standings_data(leagueId = '103, 104', division = "all", season = None)

In [133]:
for i in test.keys():
    print(i)

201
202
200
204
205
203

In [140]:
a = [test[y] for y in test.keys()]

In [143]:
b = [team for item in a for team in item['teams']]

In [111]:
b = []
for item in a:
    # print(item)
    for team in item['teams']:
        # print(team)
        b.append(team)

In [144]:
pd.DataFrame(b)

,name,div_rank,w,l,gb,wc_rank,wc_gb,wc_elim_num,elim_num,team_id,league_rank,sport_rank
0,Baltimore Orioles,1,101,61,-,-,-,-,-,110,1,2
1,Tampa Bay Rays,2,99,63,2.0,1,+10.0,-,E,139,2,4
2,Toronto Blue Jays,3,89,73,12.0,3,-,-,E,141,5,9
3,New York Yankees,4,82,80,19.0,5,7.0,E,E,147,8,16
4,Boston Red Sox,5,78,84,23.0,6,11.0,E,E,111,9,19
5,Minnesota Twins,1,87,75,-,-,-,-,-,142,7,11
6,Detroit Tigers,2,78,84,9.0,7,11.0,E,E,116,10,20
7,Cleveland Guardians,3,76,86,11.0,8,13.0,E,E,114,11,21
8,Chicago White Sox,4,61,101,26.0,10,28.0,E,E,145,13,27
9,Kansas City Royals,5,56,106,31.0,11,33.0,E,E,118,14,29
10,Houston Astros,1,90,72,-,-,-,-,-,117,3,6
11,Texas Rangers,2,90,72,-,2,+1.0,-,1,140,4,8
12,Seattle Mariners,3,88,74,2.0,4,1.0,E,E,136,6,10
13,Los Angeles Angels,4,73,89,17.0,9,16.0,E,E,108,12,24
14,Oakland Athletics,5,50,112,40.0,12,39.0,E,E,133,15,30
15,Atlanta Braves,1,104,58,-,-,-,-,-,144,1,1
16,Philadelphia Phillies,2,90,72,14.0,1,+6.0,-,E,143,4,7
17,Miami Marlins,3,84,78,20.0,2,-,-,E,146,6,13
18,New York Mets,4,75,87,29.0,9,9.0,E,E,121,12,23
19,Washington Nationals,5,71,91,33.0,11,13.0,E,E,120,14,26
20,Milwaukee Brewers,1,92,70,-,-,-,-,-,158,3,5
21,Chicago Cubs,2,83,79,9.0,4,1.0,E,E,112,7,14
22,Cincinnati Reds,3,82,80,10.0,5,2.0,E,E,113,8,15
23,Pittsburgh Pirates,4,76,86,16.0,8,8.0,E,E,134,11,22
24,St. Louis Cardinals,5,71,91,21.0,10,13.0,E,E,138,13,25
25,Los Angeles Dodgers,1,100,62,-,-,-,-,-,119,2,3
26,Arizona Diamondbacks,2,84,78,16.0,3,-,-,E,109,5,12
27,San Diego Padres,3,82,80,18.0,6,2.0,E,E,135,9,17
28,San Francisco Giants,4,79,83,21.0,7,5.0,E,E,137,10,18
29,Colorado Rockies,5,59,103,41.0,12,25.0,E,E,115,15,28

In [151]:
test = fc.get_season_standings(2023)

AttributeError: module 'functions' has no attribute 'get_season_standings'